@charset "UTF-8";
/*<МИКСИНЫ>======================================================================================================================================================================================================*/
/*<Подключаем шрифты>==============================================================================================================================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;700&display=swap&family=Caveat:wght@700&display=swap");
/*<Шрифт по умолчанию>=================================================================================================================================================================================================*/
/*<ПЕРЕМЕННЫЕ>==================================================================================================================================================================================================================*/
/*<MEDIA>==================================================================================================================================================================================================================*/
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
/*<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>======================================================================================================================================================================================================*/
/*Обнуление*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*--------------------*/
.basket {
  width: 150px;
  height: 70px;
  background-color: #fff;
  border-radius: 20px;
  opacity: 0.5;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}
.basket a {
  color: #000;
}
.basket .fa-shopping-basket {
  font-size: 25px;
}

.tours__home-link {
  margin: 10px 0 0 0;
}
.tours__home-link a {
  color: #000;
}

/*Страница корзины*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
}

.page__cart, .page__order {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen__cart, .main-screen__order {
  flex: 1 0 100%;
  position: relative;
  /* .main-screen__bg*/
}
.main-screen__cart__bg, .main-screen__order__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fa-home {
  margin: 0 10px 0 0;
}

.cart__main-link {
  margin: 30px 0 0 0;
}
.cart__main-link a {
  color: #000;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.cart__title {
  font-size: 36px;
  margin: 0px 0px 50px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 100px 0 0 0;
}

.container__cart-inner {
  display: flex;
  justify-content: center;
}

.cart__row {
  margin: 100px 0 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.cart__inner li {
  line-height: 2;
}

.fa-trash-alt {
  color: #000;
}

.cart__buttons {
  width: 700px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.cart__buttons-continue, .cart__buttons-checkout {
  margin: 35px 0 152px 0;
  width: 202px;
  height: 48px;
  background-color: #cd0a2d;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__buttons-continue a, .cart__buttons-checkout a {
  color: #fff;
}

/*Страница заказа*/
.order__title {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 20px 0;
  text-align: center;
}

.order__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-left-section {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section__inner {
  width: 300px;
  height: 500px;
}
.left-section__inner h3 {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 20px 0;
  font-weight: 900;
}
.left-section__inner p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.left-section__inner input {
  width: 300px;
  height: 40px;
  margin: 20px 0;
  border: 3px solid rgba(95, 95, 95, 0.5);
  border-radius: 10px;
}
.left-section__inner .left-section__submit {
  margin: 15px 0 152px 0;
  width: 300px;
  height: 48px;
  background-color: #cd0a2d;
  border-radius: 50px;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.order-right-section {
  width: 500px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section__inner {
  width: 300px;
  height: 500px;
}
.right-section__inner h3 {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 20px 0;
  font-weight: 900;
  text-align: center;
}
.right-section__inner li {
  list-style: disc;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.right-section__inner .right-section__price {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0 0 0;
}
.right-section__inner .right-section__total {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0 10px 0;
}
.right-section__inner a {
  margin: 10px 0 0 0;
  width: 165px;
  height: 38px;
  background-color: #cd0a2d;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-section__inner .fa-pencil-alt {
  margin: 0 5px 0 0;
}

/*Страница успешно оформленного заказа*/
.container__inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__title {
  height: 50px;
}